.body {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* background-color: yellow; */
}

.conteudo {
    /* background-color: coral; */
    width: 80rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* padding: 3rem 0rem; */
    margin-top: 3rem;
}

.titulo {
    color: #045d53;
    font-size: 32px;
}

.acoes {
    height: 4rem;
    /* background-color: aquamarine; */
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.botao_adicionar_receita {
    width: 12rem;
    height: 2rem;
    background-color: #fff;
    border: 1px solid #000;
    border-radius: 8px;
}

.filtro {
    display: flex;
    justify-content: space-between;
    /* background-color: brown; */
    width: 50rem;
}

.select_categorias{
    background-color: #EFF5F4;
}

.container_input {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.buscar {
    height: 2rem;
    background-color: #fff;
    width: 40rem;
    border-radius: 50px;
    border: 1px solid #c1decd;
    padding-left: 1rem;
}

.icone_buscar {
    height: 1.5rem;
    position: absolute;
    right: 0;
    margin-right: 1rem;
}

.linha {
    width: 100%;
    height: 1px;
    background-color: #c1decd;
}

.container_receitas {
    width: 80%;
    display: flex;
    margin-top: 2rem;
    flex-wrap: wrap;
    gap: 3.33%;
}