@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;400;700&display=swap');

:root {
    --dark-blue: #363f5f;
    --green: #49AA26;
    --light-green: #3dd705;
    --income: #12a454;
    --expanse: #e92929;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    font-size: 93.75%;
    /* 15px */
}

body {
    background-color: #f0f2f5;
    font-family: 'Poppins', sans-serif;
}

/* Títulos */

h2 {
    margin-top: 3.2rem;
    margin-bottom: 0.8rem;
    color: var(--dark-blue);
    font-weight: normal;
}

.sr-only {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0px;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    white-space: nowrap;
    border-width: 0;
}

/* links e botões */
a {
    text-decoration: none;
    font-weight: normal;
    color: #49AA26;
}

a:hover {
    color: #3dd705;
    cursor: pointer;
}

.input-group.actions button {
    border: none;
    border-radius: 0.25rem;
    height: 50px;
    color: #fff;
    font-size: 14pt;
    background-color: var(--green);
    cursor: pointer;
    transition: .6s;
}

.input-group.actions button:hover {
    background-color: var(--light-green);
    transition: .3s;
}

.button.cancel {
    color: var(--expanse);
    border: var(--expanse) solid 2px;
    border-radius: 0.25rem;
    height: 50px;
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 0.7;
    transition: .3s;
}

.button.cancel:hover {
    color: #ffff;
    background-color: var(--expanse);
    transition: .3s ease-out;
    opacity: 1;
}

.button.new {
    display: inline-block;
    margin-bottom: .8rem;
}

/* Topo da página */

header {
    background: #2D4A22;
    padding: 2rem 0 10rem;
    text-align: center;
}

header #logo {
    color: #fff;
    font-weight: 100;
}

.container {
    width: min(90vw, 800px);
    margin: auto;
}

/* Balanço da página*/

#balance {
    margin-top: -8rem;
}

#balance h2 {
    color: #fff;

}

/* Cartões */

.cards {
    background-color: #fff;
    padding: 1.5rem 2rem;
    border-radius: .25rem;
    margin-bottom: 2rem;
    color: var(--dark-blue);
}

.cards h3 {
    font-size: 1rem;
    font-weight: normal;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.cards p {
    font-size: 2rem;
    font-weight: normal;
    line-height: 3rem;
    margin-top: 1rem;
}

.cards.total {
    background-color: var(--green);
    color: #fff;
}

/* Tabéla de transações */
#transactions {
    display: block;
    width: 100%;
    overflow-x: auto;
}

#data-table {
    width: 100%;
    border-spacing: 0 0.5rem;
    color: #969cb3;
}

table thead tr th:first-child,
table tbody tr td:first-child {
    border-radius: 0.25rem 0 0 0.25rem;
}

table thead tr th:last-child,
table tbody tr td:last-child {
    border-radius: 0 0.25rem 0.25rem 0;
}

table th {
    /* Descrições superiores */
    background-color: #fff;
    font-weight: normal;
    padding: 1rem 2rem;
    text-align: left;
}

table tbody tr {
    /* Linha */
    opacity: 0.7;
}

table tbody tr:hover {
    /* Linha com hover*/
    opacity: 1;
    cursor: pointer;
}

table td {
    /* Itens da linha*/
    background: #fff;
    padding: 1rem 2rem;
}

td.description {
    color: var(--dark-blue);
}

td.income {
    color: var(--income);
}

td.expanse {
    color: var(--expanse);
}

/* Modal */

.modal-overlay {
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    position: fixed;
    top: 0%;
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 0;
    visibility: hidden;
}

.modal-overlay.active {
    opacity: 1;
    visibility: visible;
    z-index: 2;
}

.modal {
    background-color: #f0f2f5;
    padding: 2.4rem;
    width: 90%;
    max-width: 500px;

}

/* Formulário */

#form {
    max-width: 500px;
}

#form h2 {
    margin-top: 0;
}

#form input {
    border: none;
    border: .2rem;
    padding: .8rem;
    width: 100%;
    box-shadow: 0 0 0 0;
    border: 0 none;
    outline: 0;
}

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type="number"] {
    -moz-appearance: textfield;
}

.input-group {
    margin-top: .8rem;
}

.input-group small {
    opacity: 0.4;
}

.input-group.actions {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.input-group.actions.button.cancel,
.input-group.actions button {
    width: 48%;
}


/* Rodapé da página */

footer {
    text-align: center;
    color: var(--dark-blue);
    opacity: .6;
    padding: 4rem 0 2rem;
}


/* Responsividade do sistema em mobile*/

@media (min-width:800px) {
    html {
        font-size: 87.5%;
        /* */
    }

    #balance {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        gap: 2rem;
    }
}